<div class="container">
  <h1>People</h1>
  <%= link_to 'Create', new_person_path, class: 'btn btn-primary' %>
  <hr>

  <%= will_paginate %><br>

  <% if @people.any? %>
    <% @people.each do |person| %>
      <%= link_to person.name, person_path(person.id) %>
      <hr>
    <% end %>
  <% end %>

  <%= will_paginate %><br>

</div>
